<div layout="row" md-swipe-right="Catalog.openSideNav()" md-swipe-left="Catalog.closeSideNav()">
    <md-sidenav md-is-locked-open="$mdMedia('gt-lg')" class="md-sidenav-left" md-component-id="left">
        <md-toolbar class="filters-toolbar" layout-align="center center">
            <div class="md-toolbar-tools" layout-align="center center">
                <h3>Фильтры</h3>
            </div>
        </md-toolbar>
        <md-button class="md-primary md-hue-1 remove-filters" ng-if="hasKeys(Catalog.selectedCategories)" ng-click="Catalog.selectedCategories = {}; Catalog.updateCategories();">Сбросить все</md-button>
        <md-divider></md-divider>
        <div ng-repeat="topLevelCategory in Catalog.categories">
            <div class="md-whiteframe-z1" layout="row" ng-repeat="category in topLevelCategory.children">
                <md-button
                        flex class="md-primary md-hue-1"
                        ng-click="Catalog.selectedCategories[category.id] = !Catalog.selectedCategories[category.id]; !category.children && Catalog.updateCategories()"
                        ng-class="{active: Catalog.selectedCategories[category.id]}"
                        ng-if="!category.children || !Catalog.selectedCategories[category.id]"
                        >{{category.name}}</md-button>
                <md-content flex style="max-height: 262px"  ng-if="category.children && Catalog.selectedCategories[category.id]">
                    <md-subheader>
                        <div layout="row">
                            <a href="#" ng-click="Catalog.selectedCategories[category.id] = !Catalog.selectedCategories[category.id]">{{category.name}}</a>
                            <span flex></span>
                            <a class="all" href="#" ng-click="Catalog.toggleSubCategories(category.children); Catalog.updateCategories()">(все)</a>
                        </div>
                    </md-subheader>
                    <md-list>
                        <md-list-item ng-repeat="subcategory in category.children">
                            <md-checkbox
                                    ng-model="Catalog.selectedCategories[subcategory.id]"
                                    ng-click="Catalog.updateCategories()"
                                    ></md-checkbox>
                            <p>{{subcategory.name}}</p>
                    </md-list>
                </md-content>
            </div>
        </div>
    </md-sidenav>
    <div class="content" flex>
        <md-toolbar>
            <div layout="column" layout-gt-sm="row" class="top-filters">
                <md-button flex ng-class="{active: filter.selected}" ng-repeat="filter in Catalog.topFilters" ng-click="filter.selected = !filter.selected; Catalog.updateCategories()">
                    <span class="md-inline-list-icon-label">{{filter.name}}</span>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="column" layout-gt-md="row" class="select-filters">
            <div layout="row" flex="50" layout-align="center center">
                <span class="md-title">Размер с: </span>
                <md-select ng-model="someModel" placeholder="--">
                    <md-option ng-value="opt" ng-repeat="opt in [10,11,12,13,14,15,16]">{{ opt }}</md-option>
                </md-select>
                <span class="md-title"> по: </span>
                <md-select ng-model="someModel" placeholder="--">
                    <md-option ng-value="opt" ng-repeat="opt in [10,11,12,13,14,15,16]">{{ opt }}</md-option>
                </md-select>
            </div>
            <div layout="row" flex="50" layout-align="center center">
                <span class="md-title">Состояние от: </span>
                <md-select ng-model="someModel" placeholder="--">
                    <md-option ng-value="opt" ng-repeat="opt in ['новое', 'Колготки, носки, нижнее белье, одежда для сна', 'б\у']">{{ opt }}</md-option>
                </md-select>
                <span class="md-title"> до: </span>
                <md-select ng-model="someModel" placeholder="--">
                    <md-option ng-value="opt" ng-repeat="opt in ['новое', 'модное', 'б\у']">{{ opt }}</md-option>
                </md-select>
            </div>
        </div>
        <md-divider></md-divider>
        <md-content  layout="row" layout-wrap class="catalog">
            <div flex="25" flex-sm="100" flex-md="50" flex-lg="33" ng-repeat="item in [1,2,3,4,5,6,7]">
                <md-card>
                    <img src="/main/img/item.jpg" class="md-card-image" alt="image caption">
                    <md-card-header>
                        Колготки, носки, нижнее белье, одежда для сна)
                    </md-card-header>
                    <md-card-footer layout="column" flex>
                        <div layout="row" flex>
                            <div flex layout-align="end start" layout="column">
                                <div class="item-details"><span>Размер:</span> 27</div>
                                <div class="item-details"><span>Состояние:</span> Колготки, носки, нижнее белье, одежда для сна</div>
                            </div>
                            <div layout="column" layout-align="end end">
                                <span class="md-headline">259</span>
                                <span style="font-size: 10px;">баллов</span>
                            </div>
                        </div>
                        <md-button class="md-raised md-primary md-hue-1">В корзину</md-button>
                    </md-card-footer>
                </md-card>
            </div>
        </md-content>
    </div>
</div>