<!DOCTYPE html>
<html>
<head>
    <base href="/"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/angular-toastr/angular-toastr.min.css" />
    <link rel="stylesheet" href="/admin/css/style.css"/>
</head>
<body ng-controller="Core">
<div class="content" ng-controller="Base" ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-if="Base.authenticated">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Обменяйко</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <p class="navbar-text navbar-right">{{Base.user.first_name}} {{Base.user.first_name}} ({{Base.user.phone}}) <a href="admin.html#/logout" class="navbar-link">Выйти</a></p>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" ng-if="Base.authenticated">
                <ul class="nav nav-sidebar">
                    <li ng-repeat="item in Base.menu" ng-class="{active: item.active}"><a href="{{item.link}}">{{item.title}}</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-if="Core.loading" style="">
                <img class="main-loader" src="/admin/images/preloader.gif" />
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view ng-show="!Core.loading"></div>
        </div>
    </div>
</div>
<script src="/lib/requirejs/require.js" data-main="admin/config.js"></script>
</body>
</html>